<% provide(:title, "Edit Profile") %>
<%= flash_messages %>
<div class="mdl-cell">
  <%= form_for(@user) do |f| %>
  <h2 class="mdl-typography--subhead">Personal Information</h2>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_area :address, class: 'mdl-textfield__input' %>
      <%= f.label :address, class: 'mdl-textfield__label' %>
    </div>
  <% [:shirt_size, :pant_size, :shoe_size, :dress_size].each do |item| %>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field item, class: 'mdl-textfield__input' %>
      <%= f.label item, class: 'mdl-textfield__label' %>
    </div>
  <% end %>
  <div>
    <%= f.submit "Save Profile", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <% end %>
</div>
<div class="mdl-cell">
  <%= form_with(model: @user, local: true) do |f| %>
  <h2 class="mdl-typography--subhead">Families</h2>
    <% @user.families.each do |family| %>
      <ul class="family-list">
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">family_restroom</i>
            <span class="mdl-list__item-text-body">
              <%= family.name %>
              <span class="mdl-list__item-sub-title">
                <%= "#{family.users.length} #{family.users.length == 1 ? 'member' : 'members' }" %>
              </span>
            </span>
          </span>
        </li>
      </ul>
    <% end %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :pin, class: 'mdl-textfield__input' %>
    <%= f.label :family_pin, class: 'mdl-textfield__label' %>
  </div>
  <div>
    <%= f.submit "Join family", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <% end %>
</div>
<div class="mdl-cell">
  <%= form_for @user do |f| %>
  <h2 class="mdl-typography--subhead">Login Details</h2>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :name, class: 'mdl-textfield__input', disabled: true %>
    <%= f.label :name, class: 'mdl-textfield__label' %>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.password_field :password, class: 'mdl-textfield__input' %>
    <%= f.label :current_password, class: 'mdl-textfield__label' %>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.password_field :password_confirmation, class: 'mdl-textfield__input' %>
    <%= f.label :new_password, class: 'mdl-textfield__label' %>
  </div>
  <div>
    <%= f.submit "Change Password", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <% end %>
</div>
