<% provide(:title, "Family Members") %>
<%= flash_messages %>
<div class="mdl-cell mdl-cell--6-col">
  <% @families.each do |family| %>
    <h2 class="mdl-typography--subhead"><%= "#{family.name} Family" %></h2>
    <ul class="mdl-list">
      <% family.users_except(current_user.id).order(:name).each do |user| %>
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon"><%= user.naughty_or_nice_emoji %></i>
            <%= link_to user.name.titleize, user_path(user) %>
            <span class="mdl-list__item-sub-title">
              <%= "#{user.available_gifts.count} available gift#{'s' unless user.available_gifts.count == 1}" %>
            </span>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
