<% provide(:title, "My Profile") %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render "navbar" %>
  <main class="mdl-layout-content">
    <%= flash_messages %>
    <div class="page-content">
      <div class="mdl-grid">
        <%= render 'card-profile-settings' %>
        <% if !@user.no_chores? %>
          <%= render 'card-chores' %>
        <% end %>
        <% if !@user.profile_complete? %>
          <%= render 'card-profile-completion' %>
        <% end %>
        <% if !@user.wishlist.present? %>
          <%= render 'card-create-wishlist' %>
        <% else %>
          <%= render 'card-wishlist', user: @user %>
        <% end %>
        <% if !@user.gifts.any? %>
          <%= render 'card-add-gifts' %>
        <% end %>
      </div>
    </div>
  </main>
</div>
