<% provide(:title, "My Profile") %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render "navbar" %>
  <main class="mdl-layout__content">
    <%= flash_messages %>
    <div class="page-content">
      <div class="mdl-grid">
        <% if !@user.wishlist.present? %>
          <%= render 'card-create-wishlist' %>
        <% else %>
          <%= render 'card-wishlist', user: @user %>
        <% end %>
          <%= render 'card-user-list', card_for: @users %>
      </div>
    </div>
  </main>
</div>
