<% if current_user != gift.user %>
  <% if !gift.claimed_by? %>
    <%= form_for(gift) do |f| %>
    <%= f.hidden_field :claimed_by, value: current_user.id %>
    <%= f.submit "Claim", class: "mdl-chip mdl-chip__text" %>
    <% end %>
  <% else %>
    <% if gift.claimed_by == current_user.id %>
      <%= form_for(gift) do |f| %>
        <%= f.hidden_field :claimed_by, value: nil %>
        <%= f.submit 'Unclaim', class: "mdl-chip mdl-chip__text mdl-color--green-500 mdl-color-text--white" %>
      <% end %>
    <% else %>
      <span class="mdl-chip mdl-color--red-300 mdl-color-text--white">
        <span class="mdl-chip__text">Claimed</span>
      </span>
    <% end %>
  <% end %>
<% end %>
