<% if current_user != gift.user %>
  <% if !gift.claimed_by? %>
    <%= form_for(gift) do |f| %>
    <%= f.hidden_field :claimed_by, value: current_user.id %>
    <%= f.submit "Claim", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <% end %>
  <% else %>
    <% if gift.claimed_by == current_user.id %>
      <%= form_for(gift) do |f| %>
        <%= f.hidden_field :claimed_by, value: nil %>
        <%= f.submit 'Unclaim', class: "mdl-button mdl-js-button mdl-button mdl-button--accent" %>
      <% end %>
    <% else %>
      <button class="mdl-button mdl-js-button mdl-button--disabled">
        <span class="mdl-chip__text">Claimed</span>
      </span>
    <% end %>
  <% end %>
<% end %>
