<% if current_user != user %>
  <% if !gift.claimed_by? %>
    <%= form_for(gift) do |f| %>
    <%= f.hidden_field :claimed_by, value: current_user.id %>
    <%= f.submit "claim", class: "mdl-button mdl-js-button mdl-button--accent" %>
    <% end %>
  <% else %>
    <% if gift.claimed_by == current_user.id %>
      <%= form_for(gift) do |f| %>
        <%= f.hidden_field :claimed_by, value: nil %>
        <%= f.submit "unclaim", class: "mdl-button mdl-js-button mdl-button--colored" %>
      <% end %>
    <% else %>
      <span class="mdl-button mdl-js-button mdl-button--disabled">claim</span>
    <% end %>
  <% end %>
<% end %>
