<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--8dp">
    <div class="mdl-card__title mdl-color--green-900 mdl-color-text--white">
      <h3 class="mdl-card__title-text"><%= user.wishlist ? user.wishlist.name.titleize : 'no wishlist' %></h3>
    </div>
    <div class="mdl-card__supporting-text">
      <% if user.gifts.any? %>
      <table id="wishlist" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">
        <thead class="thead-light">
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Item</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
          </tr>
        </thead>
        <tbody>
          <% user.gifts.each do |gift| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= link_to gift.name, gift.url %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= render "button-claim", gift: gift, user: user %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <h6>There are no items in your wishlist</h6>
      <% end %>
    </div>
    <div class="mdl-card__actions">
      <% if current_user == user %>
        <%= link_to "Add Gift", :new_gift, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
      <% else %>
        <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">View <%= user.name %>'s profile</a>
      <% end %>
    </div>
  </div>
</div>
