<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text"><%= gift.name %></h3>
    </div>
    <div class="mdl-card__supporting-text">
      <% if gift.url? %>
        <h6>Link:</h6>
        <%= link_to gift.url, gift.url %>
      <% end %>
      <% if gift.notes? %>
        <h6>Notes:</h6>
        <p><%= gift.notes %></p>
      <% end %>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <%= render "button-claim", gift: gift, user: @user %>
        <% if current_user == @user %>
          <%= link_to "edit", edit_gift_path(gift.id), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
        <% end %>
    </div>
  </div>
</div>
