<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
    <h3 class="mdl-card__title-text"><%= (current_user.id == user.id ? 'Your' : user.name.capitalize + "'s") + " Gifts" %></h3>
  </div>
  <div class="mdl-card__supporting-text">
    <% if user.gifts.any? %>
      <%= render "gift-list", gifts: user.gifts %>
    <% else %>
      <h6>No gifts found! 😞</h6>
    <% end %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <% if current_user == user && !current_page?(controller: 'gifts', action: 'new') %>
      <%= link_to "Add New Gift", :new_gift, class: "mdl-button mdl-js-button mdl-button--colored" %>
    <% else %>
      <%= link_to "All gifts", gifts_path, class: "mdl-button mdl-js-button mdl-button--colored" %>
    <% end %>
    <% if current_page?(controller: 'gifts', action: 'new') %>
      <%= link_to "Go Home", user, class: "mdl-button mdl-js-button mdl-button--colored" %>
    <% end %>
  </div>
</div>
