<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><%= yield(:title) %></span>
  </div>
</header>
<div class="mdl-layout__drawer santa">
  <span class="mdl-layout-title">
    <%= link_to("Wishin.app", root_path, class: "custom-title") %>
  </span>
  <nav class="mdl-navigation">
    <%= link_to(new_gift_path, class: "nav-link") do %>
      <span class="mdl-navigation__link">
        <i class="material-icons nav-icon">add_box</i>
        Add Gift
      </span>
    <% end %>
    <%= link_to(available_gifts_path, class: "nav-link") do %>
      <span class="mdl-navigation__link">
        <i class="material-icons nav-icon">card_giftcard</i>
        Available Gifts
      </span>
    <% end %>
    <%= link_to(claimed_gifts_path, class: "nav-link") do %>
      <span class="mdl-navigation__link">
        <i class="material-icons gift-action-unclaim">card_giftcard</i>
        Gifts You've Claimed
      </span>
    <% end %>  
    <%= link_to(users_path, class: "nav-link") do %>
      <span class="mdl-navigation__link">
        <i class="material-icons nav-icon">face</i>
        Family Members
      </span>
    <% end %>
  </nav>
  <nav class="mdl-navigation bottom-nav">
    <%= link_to(user_path(current_user), class: "nav-link") do %>
      <span class="mdl-navigation__link">
        <i class="material-icons nav-icon">account_circle</i>
        Your Profile
      </span>
    <% end %>
    <%= link_to(edit_user_path(current_user), class: "nav-link") do %>
      <span class="mdl-navigation__link">
        <i class="material-icons nav-icon">edit</i>
        Edit Profile
      </span>
    <% end %>
    <%= link_to(logout_path, class: "nav-link") do %>
      <span class="mdl-navigation__link">
        <i class="material-icons nav-icon flip">exit_to_app</i>
        <%= "Logout (#{current_user.name.titleize})" %>
      </span>
    <% end %>
  </nav>
</div>
